* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande";
}
:root {
  --red: #CB3A2C;
  --red-sec: #B22F24;
  --blue: #2F5BBD;
  --blue-sec: #11327D;
  --green: #5BC072;
  --green-sec: #3F8B4F;
  --yellow: #D8B948;
  --yellow-sec: #B98B31;
  --white: #ffffff;
}
.play-now-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/ludoforce-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.ludo-force-img {
  width: 150px;
  height: 150px;
}
.ludo-force-header {
  font-size: 25px;
  color: var(--white);
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 35px;
}
.play-now-btn {
  width: 150px;
  height: 46px;
  border: none;
  border-radius: 50px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 600;
}
.play-now-icon {
  width: 20px;
  height: 20px;
}
.ludo-force-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 640px) {
  .ludo-force-img {
    width: 300px;
    height: 300px;
  }
  .play-now-btn {
    width: 305px;
    height: 70px;
 font-size: 30px;
  }
  .ludo-force-header {
    font-size: 50px;
  }
  .play-now-icon {
    width: 39px;
    height: 39px;
  }
  .play-now-board{
    padding-bottom: 10px;
  }
}
