/* .yellow {
  color: yellow;
  background-color: yellow;
} 
 .red {
  color: red;
  background-color: red;
}
.green {
  color: green;
  background-color: green;
} 
.blue {
  color: blue;
  background-color: blue;
} */
.redLudoBox {
  background-color: var(--red);
}
.blueLudoBox {
  background-color: var(--blue);
}
.yellowLudoBox {
  background-color: var(--yellow);
}
.greenLudoBox {
  background-color: var(--green);
}
.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  /* height: 100vh; */
}
.game-board {
  display: grid;
  grid-template-columns: repeat(15, 35px);
  grid-template-rows: repeat(15, 35px);
  /* width: 525px; */
  width: fit-content;
  height: auto;
  /* border: 1px solid black; */
  outline: 7px solid #967e2e;
  border: 9px solid #e3964a;
  position: relative;
  gap: 4px;
}
/* .cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
} */
.red-house {
  border: 12px solid var(--red-sec);
  background-color: var(--red);
  display: grid;
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
  place-items: center;
}
.house-center {
  /* width: 105px;
  height: 105px; */
  background-color: black;
  grid-column: 7 / span 3;
  grid-row: 7 / span 3;
}
.blue-house {
  border: 12px solid var(--blue-sec);
  background-color: var(--blue);
  display: grid;
  grid-column: 10 / span 6;
  grid-row: 1 / span 6;
  place-items: center;
}
.yellow-house {
  border: 12px solid var(--yellow-sec);
  display: grid;
  background-color: var(--yellow);
  grid-column: 1 / span 6;
  grid-row: 10 / span 6;
  place-items: center;
}
.green-house {
  /* outline: 20px solid black; */
  border: 12px solid var(--green-sec);
  display: grid;
  background-color: var(--green);
  grid-column: 10 / span 6;
  grid-row: 10 / span 6;
  place-items: center;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center;
  align-items: center; */
  gap: 10px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: rotate(45deg);
}
.blue-house.active,
.red-house.active,
.green-house.active,
.yellow-house.active {
  animation: animateBoard 0.8s linear infinite;
}
@keyframes animateBoard {
  0% {
    filter: brightness(1.4);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.4);
  }
}

#roll-btn {
  margin-top: 20px;
}
.line-through {
  /* border: 15px solid orange; */
  background-color: blue;
  grid-column: 8 / span 1;
  grid-row: 2 / span 5;
}
.line-through2 {
  /* border: 15px solid orange; */
  background-color: blue;
  grid-column: 9 / span 1;
  grid-row: 2;
}
/* .cell {
    width: 35px;
    height: 35px;
    border: 0.1px solid black;
  } */
/* .token {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgb(14, 13, 13);
  background-color: rgba(255, 255, 255, 0.6);
} */
span {
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgb(14, 13, 13);
  border: 4px solid var(--white);
  /* transform: rotate(45deg); */
  /* background-color: rgba(255, 255, 255, 0.6); */
}

/* Optional: center token in a cell */
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px; /* adjust size */
  height: 35px; /* adjust size */
  border: 0.1px solid #717070;
}

.selected {
  border: 2px solid gold;
  box-shadow: 0 0 8px gold;
}
.dice {
  width: 50px;
  height: 50px;
}
#red-house div span {
  background-color: red;
}
#yellow-house div span {
  background-color: yellow;
}
#blue-house div span {
  background-color: blue;
}
#green-house div span {
  background-color: green;
}
.red-piece {
  /* background-color: rgb(9, 1, 1); */
  color: vaar(--red);
  transform: rotate(-45deg);
}
.yellow-bot {
  display: flex;
  gap: 5px;
  background-color: var(--blue-sec);
  width: fit-content;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
}
.bot-icon {
  width: 50px;
}
